server:
  port: 9020
  servlet:
    context-path: /users

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/userDB
    username: postgres
    password: 67f5ef99116@C

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secretKey: asdfladf98a7df89aysf8d9yasiudfha9s87dfa89syudhfa98sdfyaisuhdfa98sfy

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url.defaultZone: http://localhost:8761/eureka

