spring:
  application:
    name: connections-service

  neo4j:
    uri: bolt://connections-db:7687
    authentication:
      username: neo4j
      password: password

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  servlet:
    context-path: /connections
  port: 9030

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

