spring:
  application:
    name: connections-service

  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: 67f5ef99116@C

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  servlet:
    context-path: /connections
  port: 9030

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

