server:
  port: 9010
  servlet:
    context-path: /posts

spring:
  application:
    name: posts-service

  datasource:
    url: jdbc:postgresql://${DB_SERVICE:posts-db}:5432/${DB_NAME:postsDB}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:password}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url.defaultZone: http://discovery-server:8761/eureka
    register-with-eureka: false
    fetch-registry: false
