server:
  port: 9010
  servlet:
    context-path: /posts

spring:
  application:
    name: posts-service

  datasource:
    url: jdbc:postgresql://localhost:5432/postsDB
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url.defaultZone: http://localhost:8761/eureka
